## **Modeling Data Dataset 1**

In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost as xgb
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [2]:
df = pd.read_csv("../dataset/INA_TweetsPPKM_TFRF.csv", index_col=[0])

In [3]:
df.tail()

,stimulasi,optimal,laku,online,penuh,butuh,sebut,tetap,operasi,sesuai,...,kbar,shalallahu,alaihi,wasallam,bedane,ketatin,rameeee,siihh,disiniii,sentiment
9995,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9996,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9997,0.0,0.0,0.0,0.0,0.0,0.52099,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9998,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
9999,0.0,0.0,0.0,0.0,0.0,0.00000,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [4]:
# implementing cv in xgboost model
df.shape

(10000, 13828)

In [5]:
X = df.drop("sentiment", axis=1)
y = df["sentiment"]

In [6]:
print(X.shape)
print(y.shape)

(10000, 13827)
(10000,)

In [8]:
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score


# Create an XGBoost classifier with specified parameters
model = xgb.XGBClassifier(
    n_estimators=1000,  # Number of trees in the forest
    gamma=1,  # Minimum loss reduction required to make a further partition on a leaf node
    learning_rate=1,  # Step size shrinkage used in update to prevent overfitting
    subsample=1,  # Subsample ratio of the training instances
    max_depth=4,  # Maximum depth of a tree
)

# Create a K-Fold cross-validation object with 5 splits
kfold = KFold(n_splits=10)

# Perform cross-validation and get the accuracy scores
result = cross_val_score(model, X=X, y=y, cv=kfold)

# Print the mean and standard deviation of the accuracy scores
print("Accuracy: %.2f%% (%.2f%%)" % (result.mean() * 100, result.std() * 100))

Accuracy: 74.63% (10.61%)

kfold = KFold(n_splits=10)
result2 = cross_val_score(model, X=X, y=y, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (result2.mean() * 100, result2.std() * 100))

### **Tanpa Stemming**

In [ ]:
data_without_stemming = pd.read_csv(
    "../dataset/INA_TweetsPPKM_Preprocessed_NoStemming.csv",
    sep="\t",
)
data_without_stemming.head()

## **Modeling Data Dataset 2**

In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost as xgb
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [7]:
df = pd.read_csv("../dataset/INA_TweetsPPKM_TFRF_DS2.csv", sep="\t")

In [8]:
df.sample(5)

,stimulasi,optimal,laku,online,penuh,butuh,sebut,tetap,operasi,sesuai,...,wawancara,koyak,distancing,phisical,kunyuk,perubahanperubahan,acau,siihh,disiniii,sentiment
430,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1755,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4990,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
5513,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0
2714,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0

In [10]:
# implementing cv in xgboost model
df.shape

(5938, 11258)

In [12]:
X = df.drop("sentiment", axis=1)
y = df["sentiment"]
print(X.shape)
print(y.shape)

(5938, 11257)
(5938,)

In [13]:
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score


# Create an XGBoost classifier with specified parameters
model = xgb.XGBClassifier(
    n_estimators=1000,  # Number of trees in the forest
    gamma=1,  # Minimum loss reduction required to make a further partition on a leaf node
    learning_rate=1,  # Step size shrinkage used in update to prevent overfitting
    subsample=1,  # Subsample ratio of the training instances
    max_depth=4,  # Maximum depth of a tree
)

# Create a K-Fold cross-validation object with 5 splits
kfold = KFold(n_splits=5)

# Perform cross-validation and get the accuracy scores
result = cross_val_score(model, X=X, y=y, cv=kfold)

# Print the mean and standard deviation of the accuracy scores
print("Accuracy: %.2f%% (%.2f%%)" % (result.mean() * 100, result.std() * 100))

Accuracy: 74.00% (18.49%)

In [14]:
kfold = KFold(n_splits=10)
result2 = cross_val_score(model, X=X, y=y, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (result2.mean() * 100, result2.std() * 100))

Accuracy: 78.82% (15.23%)

## **Modeling Data Dataset 3**

In [1]:
import numpy as np  # linear algebra
import pandas as pd  # data processing, CSV file I/O (e.g. pd.read_csv)
import xgboost as xgb
from sklearn.model_selection import train_test_split, KFold, cross_val_score

In [2]:
df = pd.read_csv("../dataset/INA_TweetsPPKM_TFRF_DS3.csv", sep="\t")

In [8]:
df.head(5)

,hadir,boss,mega,win,jackpot,juta,rupiah,menang,extra,nanti,...,kedodoran,melorotkewaspadaannya,wawancara,koyak,distancing,phisical,kunyuk,perubahanperubahan,acau,sentiment
0,1.09691,0.77815,1.14613,1.27875,1.14613,0.5404,0.8893,0.74938,1.21748,0.97004,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
1,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
2,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
3,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1
4,0.00000,0.00000,0.00000,0.00000,0.00000,0.0000,0.0000,0.00000,0.00000,0.00000,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1

In [4]:
# implementing cv in xgboost model
df.shape

(7896, 15941)

In [5]:
X = df.drop("sentiment", axis=1)
y = df["sentiment"]
print(X.shape)
print(y.shape)

(7896, 15940)
(7896,)

In [6]:
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score


# Create an XGBoost classifier with specified parameters
model = xgb.XGBClassifier(
    n_estimators=1000,  # Number of trees in the forest
    gamma=0.5,  # Minimum loss reduction required to make a further partition on a leaf node
    learning_rate=0.1,  # Step size shrinkage used in update to prevent overfitting
    subsample=0.5,  # Subsample ratio of the training instances
    max_depth=6,  # Maximum depth of a tree
)

# Create a K-Fold cross-validation object with 5 splits
kfold = KFold(n_splits=5)

# Perform cross-validation and get the accuracy scores
result = cross_val_score(model, X=X, y=y, cv=kfold)

# Print the mean and standard deviation of the accuracy scores
print("Accuracy: %.2f%% (%.2f%%)" % (result.mean() * 100, result.std() * 100))

Accuracy: 75.11% (21.97%)

In [9]:
kfold = KFold(n_splits=10)
result2 = cross_val_score(model, X=X, y=y, cv=kfold)
print("Accuracy: %.2f%% (%.2f%%)" % (result2.mean() * 100, result2.std() * 100))

Accuracy: 82.78% (13.30%)

In [ ]:
def test():
    pass